# Authentication of Bank Note

I am going to create a model to classify the original and forged notes such that it will be used in digitzation. The dataset is extracted from kaggle website 

## https://www.kaggle.com/ritesaluja/bank-note-authentication-uci-data

Firstly import the required libraries used for reading the csv data

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("BankNote_Authentication.csv")

## Data Preprocessing

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1372 entries, 0 to 1371
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   variance  1372 non-null   float64
 1   skewness  1372 non-null   float64
 2   curtosis  1372 non-null   float64
 3   entropy   1372 non-null   float64
 4   class     1372 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 53.7 KB

In [4]:
df.describe()

          variance     skewness     curtosis      entropy        class
count  1372.000000  1372.000000  1372.000000  1372.000000  1372.000000
mean      0.433735     1.922353     1.397627    -1.191657     0.444606
std       2.842763     5.869047     4.310030     2.101013     0.497103
min      -7.042100   -13.773100    -5.286100    -8.548200     0.000000
25%      -1.773000    -1.708200    -1.574975    -2.413450     0.000000
50%       0.496180     2.319650     0.616630    -0.586650     0.000000
75%       2.821475     6.814625     3.179250     0.394810     1.000000
max       6.824800    12.951600    17.927400     2.449500     1.000000

In [6]:
X = df[['variance', 'skewness', 'curtosis', 'entropy']]
X.head()

   variance  skewness  curtosis  entropy
0   3.62160    8.6661   -2.8073 -0.44699
1   4.54590    8.1674   -2.4586 -1.46210
2   3.86600   -2.6383    1.9242  0.10645
3   3.45660    9.5228   -4.0112 -3.59440
4   0.32924   -4.4552    4.5718 -0.98880

In [8]:
y = df['class']
y.tail()

1367    1
1368    1
1369    1
1370    1
1371    1
Name: class, dtype: int64

## Splitting the data into training set and test set

used scikit-Learn library to create the classifier

In [9]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

## Model training

In [10]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train,y_train)

LogisticRegression()

In [11]:
y_pred = model.predict(X_test)

## Testing the model
Next step is to check accuracy  using a metric called accuracy score

In [12]:
from sklearn.metrics import accuracy_score
score=accuracy_score(y_test,y_pred)

In [13]:
score

0.9878640776699029

In [17]:
model.predict([[-2,0,2,1]])

array([1], dtype=int64)

Then create a pickle file using serilization.
Any object in Python can be pickled so that it can be saved on disk.

In [18]:
import pickle
pickle_out = open("model.pkl","wb")
pickle.dump(model, pickle_out)
pickle_out.close()